# CMake and build files
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# IDE/project files
*.swp
*.DS_Store
*.idea/
*.vscode/

# Binaries
*.o
*.so
*.a
*.exe
*.out
*.bin

# Logs
*.log
# Temporary files
*.tmp

